{{- if eq .chezmoi.os "linux" -}}
{{-   template "run_once_after_99-final-linux.tmpl" . -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   template "run_once_after_99-final-windows.tmpl" . -}}
{{- end -}}
