edit:
  command: "nvim"

scriptEnv:
  STOW_DIR: {{ joinPath .chezmoi.workingTree "stow" }}
  STOW_BANNER: ">>> Calling stow package:"

{{ if eq .chezmoi.os "windows" -}}
cd:
  command: "powershell.exe"
{{- end }}

# vim: ft=yaml:
