#!/usr/bin/env bash
#
# Linux pre-package run-once
#

set -euo pipefail

################################################################################
# sudo
################################################################################

# No sudo password for default WSL user
sudo sh -c "echo $USER 'ALL=(ALL:ALL) NOPASSWD: ALL' > /etc/sudoers.d/$USER"

# vim: ft=bash:
