#!/bin/sh
#
# Silence "docker" warning on podman
#

################################################################################
# podman-docker
################################################################################

printf '%s\n' "Silencing podman-docker ... "

sudo -E touch /etc/containers/nodocker

echo "done"

################################################################################
# podman minimum allowed port
################################################################################

printf '%s\n' "Setting podman minimum allowed port... "

sudo touch /etc/sysctl.conf

sudo augtool -r /etc/ -bAt 'Sysctl.lns incl /sysctl.conf' <<'EOF'
defvar conf /files/sysctl.conf
set $conf/net.ipv4.ip_unprivileged_port_start "53"
save
EOF

echo "done"

# vim: ft=bash:
