#
# Windows package installation
#

Write-Host "Starting package installation" `
  -ForegroundColor Green

################################################################################
# winget
################################################################################

{{ range .packages.windows.winget }}
if (winget list {{ . | quote }} | Select-String "No installed package found") {
  winget install -e --id {{ . | quote }}
}
{{ end }}

################################################################################
# scoop
################################################################################

$scoop_installed = scoop list | Select-Object -ExpandProperty Name

{{ range .packages.windows.scoop }}
if (!($scoop_installed -contains "{{ . | quote }}")) {
  scoop install {{ . | quote }}
}
{{ end }}

Write-Host "Package installation is done" `
  -ForegroundColor Green

# vim: ft=ps1:
