#!/bin/sh
#
# Fix podman compose on WSL
#

printf '\n%s' ">>> Fixing podman compose on WSL ... "

sudo touch /etc/containers/containers.conf

sudo augtool -r /etc/containers/ -bAt 'Toml.lns incl /containers.conf' <<'EOF'
defvar conf /files/containers.conf
set $conf/table["network"] "network"
set $conf/table["network"]/entry["firewall_driver"]        "firewall_driver"
set $conf/table["network"]/entry["firewall_driver"]/string "iptables"
save
EOF

echo done

# vim: ft=bash:
