#!/bin/sh
#
# SUSE first setup: post-package installation
#

echo -e "${_CYAN_}Starting SUSE first setup: post-package installation${_RESET_}"

################################################################################
# nvs
################################################################################

# Add Node.js LTS, mainly for Neovim
source $HOME/.nvs/nvs.sh
nvs add lts

################################################################################
# zsh
################################################################################

# Set user's shell to Zsh
sudo chsh -s /bin/zsh $USER

echo -e "${_CYAN_}SUSE first setup: post-package installation is done${_RESET_}"

# vim: ft=bash:
