#!/bin/sh
#
# WSL config setup
#

echo "Setting WSL config"

STOW_PACKAGE="wsl"

echo
echo -e ">>> Applying stow package: $STOW_PACKAGE"

sudo -E stow -v 3 --adopt -t /etc/ $STOW_PACKAGE

# vim: ft=bash:
