#!/bin/sh
#
# openSUSE Tumbleweed package installation
#

echo -e "${_CYAN_}Starting package installation${_RESET_}"

################################################################################
# zypper packages
################################################################################

{{ range .packages.tw.generic }}
if ! rpm -q {{.}} &>/dev/null ; then
  sudo zypper -n in -y {{.}}
fi
{{ end }}

# Uninstall Incus Zsh completion that may be installed as recommendation
if ! rpm -q incus-zsh-completion &>/dev/null ; then
  sudo zypper -n rm -uy incus-zsh-completion
fi

################################################################################
# Ansible
################################################################################

# Ansible latest
if [ ! -x ~/.local/bin/ansible ] ; then
   pipx install --include-deps ansible
   pipx inject  --include-apps ansible ansible-lint
fi

# Ansible 9
if [ ! -x ~/.local/bin/ansible9 ] ; then
   pipx install --include-deps --suffix=9 ansible==9.13.0
   pipx inject  --include-apps --with-suffix ansible9 ansible-lint
fi

echo -e "${_CYAN_}Packages installation is done${_RESET_}"

# vim: ft=bash:
