#!/bin/sh
#
# Podman setup
#

################################################################################
# podman-docker
################################################################################

echo -e "${_CYAN_}Silencing podman-docker${_RESET_}"

sudo -E touch /etc/containers/nodocker

################################################################################
# podman minimum allowed port
################################################################################

echo -e "${_CYAN_}Setting podman minimum allowed port${_RESET_}"

sudo touch /etc/sysctl.conf

sudo augtool -r /etc/ -bAt 'Sysctl.lns incl /sysctl.conf' <<'EOF'
defvar conf /files/sysctl.conf
set $conf/net.ipv4.ip_unprivileged_port_start "53"
save
EOF

# vim: ft=bash:
