#
# Windows package installation
#

Write-Host "Starting package installation" `
  -ForegroundColor Green

################################################################################
# winget
################################################################################

{{ range .packages.windows.winget -}}
winget install -e --id {{ . | quote }}
{{ end }}

################################################################################
# scoop
################################################################################

{{ range .packages.windows.scoop -}}
scoop install {{ . | quote }}
{{ end }}

Write-Host "Package installation is done" `
  -ForegroundColor Green

# vim: ft=ps1:
