#!/bin/sh
#
# openSUSE Tumbleweed package installation
#

echo -e "${_CYAN_}Starting package installation${_RESET_}"

sudo zypper -n in -y {{ range .packages.tw }} {{ . | quote }} {{ end }}

echo -e "${_CYAN_}Packages installation is done${_RESET_}"

# vim: ft=bash:
