#!/bin/sh
#
# openSUSE Tumbleweed package installation
#

echo -e "${_CYAN_}Starting package installation${_RESET_}"

{{ range .packages.tw.general }}
if ! rpm -q {{ . | quote }} &>/dev/null ; then
  sudo zypper -n in -y {{ . | quote }}
fi
{{ end }}

echo -e "${_CYAN_}Packages installation is done${_RESET_}"

# vim: ft=bash:
