#
# Windows first setup preparation
#

Write-Host "Windows first setup preparation" -ForegroundColor Green

# Prepare scoop
scoop install git aria2
scoop config aria2-warning-enabled false
scoop update
scoop bucket add extras

# vim: ft=ps1:
