#!/bin/sh
#
# SUSE first setup: post-apply installation
#

echo -e "${_CYAN_}Starting SUSE first setup: post-apply installation${_RESET_}"

################################################################################
# nvs
################################################################################

# Add Node.js LTS, mainly for Neovim
source $HOME/.nvs/nvs.sh
nvs add lts

################################################################################
# zsh
################################################################################

# Set user's shell to Zsh
sudo chsh -s /bin/zsh $USER

################################################################################
# Neovim
################################################################################

# Remove Neovim data if it's not yet initialized.
# This is to overcome NvChad error
# when treesitter queries for crystal already exist before initializion.
test ! -d ~/.local/share/nvim/base46 && rm -rf $(dirname $_)

echo -e "${_CYAN_}SUSE first setup: post-apply installation is done${_RESET_}"

# vim: ft=bash:
