#!/bin/sh
#
# SUSE first setup finalization
#

echo -e "${_CYAN_}SUSE first setup finalization${_RESET_}"

################################################################################
# nvs
################################################################################

# Add Node.js LTS, mainly for Neovim
source $HOME/.nvs/nvs.sh
nvs add lts

################################################################################
# zsh
################################################################################

# Set user's shell to Zsh
sudo chsh -s /bin/zsh $USER

# vim: ft=bash:
