{{- if eq .chezmoi.os "linux" -}}
{{-   if findExecutable "podman" (list "/bin" "/usr/bin" "/usr/local/bin") -}}
{{      template "run_once_99-podman.tmpl" . }}
{{-   end }}
{{-   if .chezmoi.kernel.osrelease | lower | contains "microsoft" -}}
{{      template "run_once_99-wsl.tmpl" . }}
{{-     if findExecutable "podman" (list "/bin" "/usr/bin" "/usr/local/bin") -}}
{{        template "run_once_99-wsl_podman.tmpl" . }}
{{-     end }}
{{-   end }}
{{- end }}
