{{- if eq .chezmoi.os "linux" -}}
{{    template "run_after_apply_linux.tmpl" . }}
{{- if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
{{    template "run_after_apply_tw.tmpl" . }}
{{- end  }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{    template "run_after_apply_wsl.tmpl" . }}
{{- end  }}
{{- else if eq .chezmoi.os "windows" -}}
{{    template "run_after_apply_windows.tmpl" . }}
{{- end  }}
