#!/usr/bin/env bash
#
# openSUSE Tumbleweed package installation
#

set -euo pipefail

################################################################################
# BEGIN
################################################################################

echo -e "${_CYAN_}Starting package installation${_RESET_}"

################################################################################
# zypper packages
################################################################################

# {{- range .packages.tw.generic }}
if ! rpm -q {{.}} &>/dev/null ; then
  sudo zypper -n in --no-recommends -y {{.}}
fi
# {{- end }}

################################################################################
# Incus completion
################################################################################

# {{- if findExecutable "incus" (list "/bin" "/usr/bin" "/usr/local/bin") -}}
# Generate Incus Zsh completion,
# as incus-zsh-completion package is broken (at least in Tumbleweed)
# with the following error:
#
# /etc/zsh_completion.d/_incus:type:420: bad option: -t

# Uninstall Incus Zsh completion that may be installed as recommendation
if rpm -q incus-zsh-completion &>/dev/null ; then
  sudo zypper -n rm -uy incus-zsh-completion
fi

sudo sh -c 'incus completion zsh > /etc/zsh_completion.d/incus'
# {{- end }}

################################################################################
# Ansible
################################################################################

# Ansible latest
if [ ! -x ~/.local/bin/ansible ] ; then
   pipx install --include-deps ansible
   pipx inject  --include-apps ansible ansible-lint
fi

# Ansible 9
if [ ! -x ~/.local/bin/ansible9 ] ; then
   pipx install --include-deps --suffix=9 ansible==9.13.0
   pipx inject  --include-apps --with-suffix ansible9 ansible-lint
fi

################################################################################
# END
################################################################################

echo -e "${_CYAN_}Packages installation is done${_RESET_}"

# vim: ft=bash:
