#
# Hard-link Windows extra configs
#

################################################################################
# BEGIN
################################################################################

Write-Host "Starting hard-linking Windows extra configs" `
  -ForegroundColor Green

################################################################################
# Links
################################################################################

function New-HardLink {
  param (
    [string]$Source ,
    [string]$Destination
  )

  $chezmoiDir = "{{ .chezmoi.sourceDir }}"

  New-Item -ItemType Directory -Force -Path (
    Split-Path $Destination
  )

  if (Test-Path $Source) {
    New-Item -ItemType HardLink -Force `
      -Target $Source `
      -Path   $Destination
  } else {
    New-Item -ItemType HardLink -Force `
      -Target (Join-Path $chezmoiDir $Source) `
      -Path   $Destination
  }
}

# {{- range .nochezmoi.windows }}
New-HardLink -Source {{ .src }} -Destination {{ .dst }}
# {{- end }}

################################################################################
# END
################################################################################

Write-Host "Hard-linking Windows extra configs is done" `
  -ForegroundColor Green

# vim: ft=ps1:
