#
# Windows run_once_after (post-apply)
#

################################################################################
# BEGIN
################################################################################

Write-Host "Starting Windows run_once_after (post-apply)" `
  -ForegroundColor Green

################################################################################
# nvs
################################################################################

# {{- if not (stat (joinPath .chezmoi.homeDir "AppData" "Local" "nvs" "node")) }}
# Add Node.js LTS
nvs add lts
# {{- end }}

################################################################################
# END
################################################################################

Write-Host "Windows run_once_after (post-apply) is done" `
  -ForegroundColor Green

# vim: ft=ps1:
