#!/usr/bin/env bash
#
# Copy Linux global configs
#

set -euo pipefail

################################################################################
# BEGIN
################################################################################

echo -e "${_CYAN_}Starting copying Linux global configs${_RESET_}"

################################################################################
# Main
################################################################################

copy_global_conf() {
  local SRC=$1
  local DST=$2
  local DIR="{{ .chezmoi.sourceDir }}"

  mkdir -p $(dirname $DST)

  if [ -f $SRC ] ; then
    cmp --silent $SRC $DST && sudo cp $SRC $DST
  elif [ -f ${DIR}/${SRC} ] ; then
    cmp --silent ${DIR}/${SRC} $DST && sudo cp ${DIR}/$SRC $DST
  fi
}

# {{- range .nochezmoi.linux.generic }}
copy_global_conf {{ .src }} {{ .dst }}
# {{- end }}

# {{- if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
# {{-   range .nochezmoi.linux.wsl }}
copy_global_conf {{ .src }} {{ .dst }}
# {{-   end }}
# {{- end }}

# {{- if has "suse" (splitList " " .chezmoi.osRelease.idLike) }}
# {{-   range .nochezmoi.linux.suse }}
copy_global_conf {{ .src }} {{ .dst }}
# {{-   end }}
# {{- end }}

# {{- if has "debian" (splitList " " .chezmoi.osRelease.idLike) }}
# {{-   range .nochezmoi.linux.debian }}
copy_global_conf {{ .src }} {{ .dst }}
# {{-   end }}
# {{- end }}

################################################################################
# END
################################################################################

echo -e "${_CYAN_}Copying Linux global configs is done${_RESET_}"

# vim: ft=bash:
