#
# Windows package installation
#

################################################################################
# BEGIN
################################################################################

Write-Host "Starting package installation" `
  -ForegroundColor Green

################################################################################
# winget
################################################################################

# {{- range .packages.windows.winget }}
if (winget list {{.}} | Select-String "No installed package found") {
  winget install -e --id {{.}}
}
# {{- end }}

################################################################################
# scoop
################################################################################

$scoop_installed = scoop list | Select-Object -ExpandProperty Name

# {{- range .packages.windows.scoop }}
if (! ($scoop_installed -contains {{ . | quote }})) {
  # Don't use bare scoop nor scoop.ps1
  # to prevent Get-FileHash error!
  scoop.cmd install {{.}}
}
# {{- end }}

################################################################################
# END
################################################################################

Write-Host "Package installation is done" `
  -ForegroundColor Green

# vim: ft=ps1:
