#!/usr/bin/env bash
#
# openSUSE Tumbleweed package installation
#

set -euo pipefail

################################################################################
# BEGIN
################################################################################

echo -e "${_CYAN_}Starting package installation${_RESET_}"

################################################################################
# zypper packages
################################################################################

# {{- if index .packages.tw "locked" }}
sudo zypper addlock {{- range .packages.tw.locked }} {{.}} {{- end }}
# {{- end }}

# {{- range .packages.tw.generic }}
# {{-   if ne . "incus" }}
if ! rpm -q {{.}} &>/dev/null ; then
  sudo zypper -n in -y --no-recommends {{.}}
fi
# {{-   end }}
# {{- end }}

################################################################################
# Incus
################################################################################

# We need Incus client only on WSL or LXC containers.

# {{- if has "incus" .packages.tw.generic }}

if ! rpm -q incus &>/dev/null ; then

# {{-   if or (.chezmoi.kernel.osrelease | lower | contains "microsoft") (has "lxc" (splitList "=" (output "sh" "-c" "tr -cd '[:print:]' < /proc/1/environ" | trim))) (stat "/.dockerenv") }}

  sudo zypper addlock \
    Mesa \
    dnsmasq \
    kernel-debug \
    kernel-default \
    kernel-default-base \
    kernel-kvmsmall \
    kernel-longterm \
    kernel-vanilla \
    lxcfs \
    qemu \
    qemu-hw-display-virtio-gpu \
    qemu-hw-display-virtio-vga \
    qemu-hw-usb-redirect

  expect <<"EOF"
set timeout -1

spawn sudo zypper install --no-recommends incus

expect "Choose from above solutions by number"
send "8\r"

expect "Continue?"
send "y\r"

expect -re "Running post-transaction scripts.+done.+"
sleep 10

expect eof
EOF

# {{-   else }}
sudo zypper -n in -y --no-recommends incus
# {{-   end }}

fi
# {{- end }}

################################################################################
# Ansible
################################################################################

# Ansible latest
if [ ! -x ~/.local/bin/ansible ] ; then
  pipx install --include-deps ansible
  pipx inject  --include-apps ansible ansible-lint
fi

# Ansible 9
if [ ! -x ~/.local/bin/ansible9 ] ; then
  pipx install --include-deps --suffix=9 ansible==9.13.0
  pipx inject  --include-apps --with-suffix ansible9 ansible-lint
fi

################################################################################
# END
################################################################################

echo -e "${_CYAN_}Packages installation is done${_RESET_}"

# vim: ft=bash:
