#
# Windows run_once_after (post-apply)
#

################################################################################
# BEGIN
################################################################################

Write-Host "Starting Windows run_once_after (post-apply)" `
  -ForegroundColor Green

################################################################################
# Nmap
################################################################################

# {{- if stat "C:/Program Files (x86)/Nmap" }}

# Improve Nmap performance
Invoke-Item "${env:ProgramFiles(x86)}\Nmap\nmap_performance.reg"

# Add Nmap to path
[Environment]::SetEnvironmentVariable(
  "Path" ,
  (
    [Environment]::GetEnvironmentVariable("Path", "User") +
    ";" +
    "${env:ProgramFiles(x86)}\Nmap"
  ) ,
  "User"
)

# Clean empty and duplicate fields
[Environment]::SetEnvironmentVariable(
  "Path" ,
  (
    [Environment]::GetEnvironmentVariable("Path", "User") -split ';' |
    Select-String -NotMatch '^\s*$' |
    Select-Object -Unique
  ) -join ";" ,
  "User"
)
# {{- end }}

################################################################################
# nvs
################################################################################

# {{- if not (stat (joinPath .chezmoi.homeDir "AppData" "Local" "nvs" "node")) }}
# Add Node.js LTS
nvs add lts
# {{- end }}

################################################################################
# END
################################################################################

Write-Host "Windows run_once_after (post-apply) is done" `
  -ForegroundColor Green

# vim:ft=ps1:
