#!/usr/bin/env bash
#
# openSUSE Tumbleweed run_once_after (post-apply)
#

set -euo pipefail

################################################################################
# BEGIN
################################################################################

echo -e "${_CYAN_}Starting openSUSE Tumbleweed run_once_after (post-apply)${_RESET_}"

################################################################################
# Incus completion
################################################################################

# {{- if findExecutable "incus" (list "/bin" "/usr/bin" "/usr/local/bin") }}
# {{-   if eq "opensuse-tumbleweed" .chezmoi.osRelease.id }}
#
# Generate Incus Zsh completion,
# as incus-zsh-completion package is broken (at least in Tumbleweed)
# with the following error:
#
# /etc/zsh_completion.d/_incus:type:420: bad option: -t

sudo sh -c 'incus completion zsh > /etc/zsh_completion.d/incus'

# {{-   end }}
# {{- end }}

################################################################################
# END
################################################################################

echo -e "${_CYAN_}openSUSE Tumbleweed run_once_after (post-apply) is done${_RESET_}"

# vim: ft=bash:
