#!/usr/bin/env bash
#
# openSUSE Tumbleweed run_once_after (post-apply)
#

set -euo pipefail

################################################################################
# BEGIN
################################################################################

echo -e "${_CYAN_}Starting openSUSE Tumbleweed run_once_after (post-apply)${_RESET_}"

################################################################################
# nvs
################################################################################

# {{- if stat (joinPath .chezmoi.homeDir ".nvs" "node") }}
#
# Add Node.js LTS
NVS_USE_XZ=false # fix line 190: NVS_USE_XZ: unbound variable
source $HOME/.nvs/nvs.sh
nvs add lts
# {{- end }}

################################################################################
# Podman
################################################################################

# {{- if has "podman" .packages.tw.generic }}
#
# Silencing docker from podman-docker
sudo touch /etc/containers/nodocker

# Set podman's lowest publishable port
sudo touch /etc/sysctl.conf
sudo augtool -r / -bAt 'Sysctl.lns incl /etc/sysctl.conf' <<'EOF'
defvar conf /files/etc/sysctl.conf
set $conf/net.ipv4.ip_unprivileged_port_start "53"
save
EOF

# {{-   if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
#
# Fix podman-compose in WSL
sudo touch /etc/containers/containers.conf
sudo augtool -r / -bAt 'Toml.lns incl /etc/containers/containers.conf' <<'EOF'
defvar conf /files/containers.conf
set $conf/table["network"] "network"
set $conf/table["network"]/entry["firewall_driver"]        "firewall_driver"
set $conf/table["network"]/entry["firewall_driver"]/string "iptables"
save
EOF

# {{-   end -}}
# {{- end }}

################################################################################
# Incus completion
################################################################################

# {{- if has "incus" .packages.tw.generic }}
#
# Generate Incus Zsh completion,
# as incus-zsh-completion package is broken (at least in Tumbleweed)
# with the following error:
#
# /etc/zsh_completion.d/_incus:type:420: bad option: -t

sudo sh -c 'incus completion zsh > /etc/zsh_completion.d/incus'

# {{- end }}

################################################################################
# zsh
################################################################################

# Set user's shell to Zsh
sudo chsh -s /bin/zsh $USER

################################################################################
# END
################################################################################

echo -e "${_CYAN_}openSUSE Tumbleweed run_once_after (post-apply) is done${_RESET_}"

# vim: ft=bash:
