#
# Link Windows extra configs
#

################################################################################
# BEGIN
################################################################################

Write-Host "Starting linking Windows extra configs" `
  -ForegroundColor Green

################################################################################
# Main
################################################################################

function New-Link {
  param (
    [string]$Source ,
    [string]$Destination,
    [string]$LinkType
  )

  $chezmoiDir = "{{ .chezmoi.sourceDir }}"
  $absSource  = ""

  New-Item -ItemType Directory -Force -Path (
    Split-Path $Destination
  )

  if (Test-Path $Source) {
    $absSource = $Source
  } else {
    $absSource = Join-Path $chezmoiDir $Source
  }

  if ($LinkType -eq "Hardlink") {
    New-Item -Force `
      -ItemType $LinkType `
      -Target   $absSource `
      -Path     $Destination
  } elseif ($LinkType -eq "SymbolicLink") {
    sudo powershell -c `
      "New-Item -Force -ItemType $LinkType -Target $absSource -Path $Destination"
  }
}

# {{- range .nochezmoi.windows.hardlinks }}
New-Link -LinkType Hardlink -Source {{ .src }} -Destination {{ .dst }}
# {{- end }}

# {{- range .nochezmoi.windows.symlinks }}
New-Link -LinkType SymbolicLink -Source {{ .src }} -Destination {{ .dst }}
# {{- end }}

################################################################################
# END
################################################################################

Write-Host "Linking Windows extra configs is done" `
  -ForegroundColor Green

# vim:ft=ps1:
