#!/usr/bin/env bash
#
# Linux pre-nochezmoi
#

set -euo pipefail

################################################################################
# BEGIN
################################################################################

echo -e "${_CYAN_}Pre-nochezmoi steps has started${_RESET_}"

################################################################################
# END
################################################################################

echo -e "${_CYAN_}Pre-nochezmoi steps has finished${_RESET_}"

# vim:ft=bash:
