#
# Windows pre-nochezmoi
#

################################################################################
# BEGIN
################################################################################

Write-Host "Pre-nochezmoi steps has started" `
  -ForegroundColor Green

################################################################################
# END
################################################################################

Write-Host "Pre-nochezmoi steps has finished" `
  -ForegroundColor Green

# vim:ft=ps1:
