#
# Windows post-nochezmoi
#

################################################################################
# BEGIN
################################################################################

Write-Host "Post-nochezmoi steps has started" `
  -ForegroundColor Green

################################################################################
# END
################################################################################

Write-Host "Post-nochezmoi steps has finished" `
  -ForegroundColor Green

# vim:ft=ps1:
